/*outline: 1px solid limegreen;*/
/*background: rgb(0 100 0 / 0.05);*/

/*html, body {*/
/*  height: 100%;*/
/*}*/

/*body {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1.5rem;
}

#container {
  width: 500px;
  height: 500px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#pokemon-image-even, #pokemon-image-odd {
  margin: auto;
  max-width: 350px;
}


#timer-span {
  text-align: right;
  padding-right: 87px;
  margin-top: -28px;
}

.displayNone {
  display: none;
}

.wrong {
  color: crimson;
}

.correct {
  color: green;
}
